<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
        {{!-- link to style sheet --}}
		<link rel="stylesheet" href="" type="text/css" />

        {{!-- link to jQuery --}}
		<script src="https://code.jquery.com/jquery.js"></script>

        {{!-- link to javascript file --}}
		<script src=""></script>

        <title>Eat-Da-Burger!</title>

	</head>

	<body>
		{{{ body }}}
	</body>
    
</html>
