<img id="burger_icon" src="/assets/img/burger.jpg"/>
<h1>Et-Da-Burger!</h1>

<h2>Burgers you haven't eaten!</h2>
{{#each burger}}
    {{#unless devoured}}
        {{> burgers/burger_block devoured=true}}
    {{/unless}}
{{/each}}
<hr>
<h2>Burgers you ate!</h2>
{{#each burger}}
    {{#if devoured}}
        {{> burgers/burger_block devoured=false}}
    {{/if}}
{{/each}}
<hr>
<br>

<h3>Get another burger?</h3>
<form class="create-form">
    <textarea id="burger_name"></textarea>
    <br>
    <button type="submit">Get burger!</button>
</form>